<div class="container">
    <mat-card class="main-card">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header style="background-color: rgb(37, 150, 190);color: white;">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Doctor Information</mat-card-title>
          </mat-card-header>
          <form [formGroup]="doctorForm">
          <mat-card-content>
              <hr>
              <div class="row">
                  <div class="col-md">
                      <mat-form-field  style="width:350px;">
                          <mat-label>First Name</mat-label>
                          <input matInput formControlName="firstname">
                        </mat-form-field>
                  </div>
                  <div class="col-md">
                      <mat-form-field  style="width:350px;">
                          <mat-label>Last Name</mat-label>
                          <input matInput formControlName="lastname">
                        </mat-form-field>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md">
                      <mat-form-field  style="width:350px;">
                          <mat-label>Contact Number</mat-label>
                          <input matInput type="number" formControlName="telNumber">
                        </mat-form-field>
                  </div>
                  <div class="col-md">
                      <mat-form-field  style="width:350px;">
                          <mat-label>NIC</mat-label>
                          <input matInput formControlName="nic">
                        </mat-form-field>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md">
                      <mat-form-field  style="width:350px;">
                          <mat-label>Email</mat-label>
                          <input matInput formControlName="email">
                        </mat-form-field>
                  </div>
                  <div class="col-md">
                      <mat-form-field  style="width:350px;">
                          <mat-label>Gender</mat-label>
                          <input matInput formControlName="gender">
                        </mat-form-field>
                  </div>
               </div>
               <hr>
               <div class="row">
                <div class="col-md">
                    <mat-form-field  style="width:350px;">
                        <mat-label>UserName</mat-label>
                        <input matInput formControlName="userName">
                      </mat-form-field>
                </div>
                <div class="col-md">
                    <mat-form-field  style="width:350px;">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password">
                      </mat-form-field>
                </div>
             </div>
               <div style="flex: 1 1 auto; ">
                <button mat-raised-button color="primary" [disabled]="!doctorForm.valid" style="float: right;" (click)="saveDoctor()">Save</button>
               </div>
               <br>
          </mat-card-content>
        </form> 
        </mat-card>
      </mat-card-content>
  <br>
      <mat-card-content>
        <mat-card class="example-card">
          <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" >
            <ng-container matColumnDef="doctorId">
              <th mat-header-cell *matHeaderCellDef style="flex: 0 0 35%; background-color: rgb(37, 150, 190);color: white; background-color: rgb(37, 150, 190);color: white;">Doctor Id</th>
              <td mat-cell *matCellDef="let element" style="flex: 0 0 35%;"> {{element.doctorID}} </td>
            </ng-container>
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef style="flex: 0 0 35%; background-color: rgb(37, 150, 190);color: white; background-color: rgb(37, 150, 190);color: white;" > First Name</th>
              <td mat-cell *matCellDef="let element" style="flex: 0 0 35%;"> {{element.firstName}} </td>
            </ng-container>
          
           
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef style="flex: 0 0 30%;background-color: rgb(37, 150, 190);color: white; background-color: rgb(37, 150, 190);color: white;"> Last Name </th>
              <td mat-cell *matCellDef="let element" style="flex: 0 0 30%;"> {{element.lastName}} </td>
            </ng-container>
          
           
            <ng-container matColumnDef="contactNumber">
              <th mat-header-cell *matHeaderCellDef style="flex: 0 0 35%; background-color: rgb(37, 150, 190);color: white; background-color: rgb(37, 150, 190);color: white;" > Contact Number </th>
              <td mat-cell *matCellDef="let element" style="flex: 0 0 35%;"> {{element.telNumber}} </td>
            </ng-container>
          
            <ng-container matColumnDef="nic">
              <th mat-header-cell *matHeaderCellDef style="flex: 0 0 35%; background-color: rgb(37, 150, 190);color: white; background-color: rgb(37, 150, 190);color: white;" > NIC </th>
              <td mat-cell *matCellDef="let element" style="flex: 0 0 35%;"> {{element.nic}} </td>
            </ng-container>
  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef style="flex: 0 0 35%; background-color: rgb(37, 150, 190);color: white; background-color: rgb(37, 150, 190);color: white;" > Action </th>
              <td mat-cell *matCellDef="let element" style="flex: 0 0 35%;"> 
                <button mat-icon-button color="primary"  >
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn"  >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <!-- <mat-card-actions >
            <mat-paginator
            [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
            </mat-paginator>
          </mat-card-actions> -->
        </mat-card>
      </mat-card-content>
    </mat-card> 
    </div>
  
  
    